<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-12">
        <div class="ribbon">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a
                class="nav-link"
                [class.active]="activeTab === 'manage'"
                (click)="setActiveTab('manage')"
                >Manage</a
              >
            </li>
          </ul>

          <div class="ribbon-content mt-3">
            <div *ngIf="activeTab === 'manage'" class="ribbon-group">
              <button
                class="btn btn-light btn-sm d-block mb-1"
                (click)="navigateToCreateUser()"
              >
                <i class="fas fa-plus"></i> Crear usuario
              </button>
              <button class="btn btn-light btn-sm d-block mb-1">
                <i class="fas fa-eye"></i> Ver usuario
              </button>
              <button
                class="btn btn-light btn-sm d-block mb-1"
                (click)="navigateToEditUser()"
              >
                <i class="fas fa-edit"></i> Editar usuario
              </button>
              <button class="btn btn-light btn-sm d-block">
                <i class="fas fa-trash-alt"></i> Eliminar usuario
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Breadcrumbs -->
  </div>
</section>

<section class="content-header">
  <div class="container-fluid mt-4">
    <!-- Mostrar un mensaje de carga mientras los datos no están listos -->
    <div *ngIf="isLoading; else tableTemplate">
      <p>Cargando usuarios...</p>
    </div>

    <!-- Plantilla para la tabla de usuarios -->
    <ng-template #tableTemplate>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>ID Usuario</th>
            <th>Correo</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of users; let i = index"
            [class.table-active]="user.usuarioID === selectedUser"
            (click)="selectUser(user.usuarioID)"
          >
            <td>{{ i + 1 }}</td>
            <td>{{ user.usuarioID }}</td>
            <td>{{ user.correo }}</td>
            <td>{{ user.nombre }}</td>
            <td>{{ user.apellido }}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</section>
