<style>
  .selected {
  background-color: lightblue;
}
</style>

<div class="container-fluid mt-4">
    <table class="table table-bordered">
        <thead >
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Emailddd</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index"
          [class.selected] = "user.id === selectedUser"
          (click)="selectUser(user.id)">
            <td>{{ i + 1 }}</td>
            <td>{{ user.usuarioID }}</td>
            <td>{{ user.correo }}</td>
            <td>{{ user.nombre }}</td>
            <td>{{ user.apellido }}</td>
          </tr>
        </tbody>
    </table>
    
  </div>