.ribbon {
    background-color: #f8f9fa; /* Fondo claro */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .ribbon-group {
    display: flex; /* Cambia la alineación a horizontal */
    justify-content: flex-start; /* Alinea los botones hacia la izquierda */
  }
  
  .ribbon-group .btn {
    margin-right: 10px; /* Espacio entre botones */
    width: auto; /* Permite que el ancho se ajuste al contenido */
    text-align: center; /* Centra el texto dentro de los botones */
    padding: 5px 15px; /* Ajusta el relleno del botón */
  }
  
  .ribbon .btn i {
    margin-right: 5px; /* Espacio entre icono y texto */
  }
  
  .nav-tabs .nav-link.active {
    background-color: #007bff;
    color: white;
  }

  .aside-container {
    position: fixed;
    top: 10px;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 3px;
  }
  
  .aside-container.show {
    right: 0;
  }
  
  .aside-content {
    padding: 20px;
  }
  
  .aside-content h5 {
    margin-top: 0;
  }
  .selected {
    background-color: lightblue;
  }