<style>
    .aside-container {
    position: fixed;
    top: 10px;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 3px;
  }
  
  .aside-container.show {
    right: 0;
  }
  
  .aside-content {
    padding: 20px;
  }
  
  .aside-content h5 {
    margin-top: 0;
  }
  .selected {
  background-color: lightblue;
  }
  
  </style>

<div class="container-fluid mt-4">
 <!-- <div *ngIf="isLoading; else tableTemplate">
    <p>Cargando usuarios...</p>
  </div>-->
  
 
    <table  *ngIf="notisLoading;" class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Código de cliente</th>
            <th>Nombre de cliente</th>
            <th>Apellido de cliente</th>
            <th>NIT</th>
          </tr>
        </thead>
        <tbody>
          <tr 
          *ngFor="let cliente of clientes; let i = index" 
          (click)="showDetails(cliente.clienteID)"
          [class.table-active]="cliente.clienteID===selectedCustomer">
            <td>{{ i + 1 }}</td>
            <td>{{ cliente.codigoCliente }}</td>
            <td>{{ cliente.nombresCliente }}</td>
            <td>{{ cliente.apellidosCliente }}</td>
            <td>{{ cliente.nit }}</td>
            
          </tr>
        </tbody>
      </table>
  
</div>

<div class="aside-container" [class.show]="asideVisible">
  <div class="aside-content">
   <!-- <h5>Detalles de {{ selectedCustomer?.name }}</h5>
    <p><strong>Email:</strong> {{ selectedCustomer?.email }}</p>
    <p><strong>Teléfono:</strong> {{ selectedCustomer?.phone }}</p>
    <p><strong>Facturas emitidas:</strong> {{ selectedCustomer?.invoices }}</p>
    <p><strong>Pedidos abiertos:</strong> {{ selectedCustomer?.openOrders }}</p>
    <p><strong>Anulaciones:</strong> {{ selectedCustomer?.cancellations }}</p>
    <button class="btn btn-primary" (click)="hideDetails()">Cerrar</button>
    -->

    <h5>Detalles de {{ selectedCustomer }}</h5>
    <p><strong>Email:</strong> {{ selectedCustomer }}</p>
    <p><strong>Teléfono:</strong> {{ selectedCustomer}}</p>
    <p><strong>Facturas emitidas:</strong> {{ selectedCustomer}}</p>
    <p><strong>Pedidos abiertos:</strong> {{ selectedCustomer }}</p>
    <p><strong>Anulaciones:</strong> {{ selectedCustomer }}</p>
    <button class="btn btn-primary" (click)="hideDetails()">Cerrar</button>

  </div>
  
</div>