<div class="container-fluid mt-2">
    <div class="card">
      <div class="card-header py-2">
        <h2 class="mb-4">Editar Usuario</h2>
      </div>
      <div class="card-body p-3">
        <form [formGroup]="usereditForm" (ngSubmit)="onsubmitUser()">
          <div class="row">
            <!-- General Information -->
            <div class="col-md-6">
              <label>General</label>
              <div class="form-group mb-4">
                Nombre
                <input
                  type="text"
                  id="Nombre"
                  formControlName="Nombre"
                  class="form-control form-control-sm"
                  placeholder="Nombres"
                />
                <div *ngIf="usereditForm.get('Nombre')?.invalid && usereditForm.get('Nombre')?.touched">
                    <small>El nombre es obligatorio.</small>
                  </div>
              </div>
  
              <div class="form-group mb-4">
                Apellido
                <input
                  type="text"
                  id="Apellido"
                  formControlName="Apellido"
                  class="form-control form-control-sm"
                  placeholder="Apellidos"
                />
                <div *ngIf="usereditForm.get('Apellido')?.invalid && usereditForm.get('Apellido')?.touched">
                    <small>El apellido es obligatorio.</small>
                  </div>
              </div>
  
              <div class="form-group mb-4">
                Correo
                <input
                  type="email"
                  id="Correo"
                  formControlName="Correo"
                  class="form-control form-control-sm"
                  placeholder="ejemplo@me.com"
                  required
                />
                <div *ngIf="usereditForm.get('Correo')?.invalid && usereditForm.get('Correo')?.touched">
                    <small *ngIf="usereditForm.get('Correo')?.hasError('required')">El correo es obligatorio.</small>
                    <small *ngIf="usereditForm.get('Correo')?.hasError('email')">Debe ser un correo válido.</small>
                  </div>
                  
              </div>
              <div class="form-group mb-4">
                Contraseña
                <input
                  type="password"
                  id="Contraseña"
                  formControlName="Contraseña"
                  class="form-control form-control-sm"
                  placeholder="xxxxxxx"
                />
                <div *ngIf="usereditForm.get('Contraseña')?.invalid && usereditForm.get('Contraseña')?.touched">
                    <small *ngIf="usereditForm.get('Contraseña')?.hasError('required')">La contraseña es obligatoria.</small>
                    <small *ngIf="usereditForm.get('Contraseña')?.hasError('minlength')">Debe tener al menos 6 caracteres.</small>
                  </div>
              </div>
              
            </div>
  
            <!-- Billing Address -->
          
  
            <div class="col-md-6">
              <label>Contacto</label>
              <div class="form-group mb-4">
                Telefono
                <input
                  type="tel"
                  pattern="[2-7]{1}[0-9]{7}"
                  id="Telefono"
                  formControlName="Telefono"
                  class="form-control form-control-sm"
                  placeholder="(502)-xxxx-xxxx"
                />
                <div *ngIf="usereditForm.get('Telefono')?.invalid && usereditForm.get('Telefono')?.touched">
                    <small *ngIf="usereditForm.get('Telefono')?.hasError('required')">El teléfono es obligatorio.</small>
                    <small *ngIf="usereditForm.get('Telefono')?.hasError('pattern')">El teléfono debe contener solo números.</small>
                  </div>
              </div>
  
              <div class="form-group mb-4">
                Dirección
                <input
                  type="text"
                  id="Direccion"
                  formControlName="Direccion"
                  class="form-control form-control-sm"
                  placeholder="Ingrece dirección"
                />
              </div>
            </div>
  
  
          </div>
  
          <!-- Posting Setup -->

          
          <div class="row mt-3">
          
            <div class="col-md-6">
              <label>Accesos</label>
              <div class="form-group mb-4">
               Rol
               <select id="RolID" formControlName="RolID" class="form-control form-control-sm">
                <option value="0" disabled selected>[SELECCIONA UN ROL]</option>
                <option value="1">ADMIN</option>
                <option value="2">USER</option>
                <option value="3">LECTOR</option>
                <option value="4">MIEMBRO</option>
                <option value="5">COLABORADOR</option>
              </select>
              </div>
  
              <div class="form-group mb-3">
                Acción
                <select id="Accion" formControlName="Accion" class="form-control form-control-sm">
                    <option value="0" disabled  selected>[SELECCIONA UN PERFIL]</option>
                    <option value="C R U D">CREATE READ UPDATE DELETE</option>
                    <option value="R">READ</option>
                    <option value="C">CREATE</option>
                    <option value="U">UPDATE</option>
                    <option value="D">DELETE</option>
                  </select>
              </div>
  
             
          </div>
            </div>
          <div class="row mt-3">
            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-sm btn-primary">Guardar cliente</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
